.filterSearch {
  height: 36px;
  width: 180px;
  border: 1.2px solid #e5e2e2;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
}
.filterOptions{
    display: flex;
    padding: 20px 0px 0px 10px;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}